<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518154153128-be6qq34q8t8n5ov0met4av3q05qt4nnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518154153128-be6qq34q8t8n5ov0met4av3q05qt4nnk</string>
	<key>API_KEY</key>
	<string>AIzaSyBGZEXJN-Yi25Hh0dGGGwYaDjXV7Y7MV3s</string>
	<key>GCM_SENDER_ID</key>
	<string>518154153128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-practice-d7846</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-practice-d7846.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518154153128:ios:815eabbc6724340309e69d</string>
</dict>
</plist>